@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

header{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img-header{
    height: 40px;
    padding-left: 7vw;
}

nav{
    padding-right: 7vw;
    font-weight: 550;
}

nav > a{
    text-decoration: none;
    color: white;
    padding: 15px;
}

nav > a:hover{
    color: #1BD760;
}

nav > span{
    color: white;
    padding: 10px;
}

.login-register{
    color: rgb(142, 142, 142);
}

main{
    background-color: #19E68C;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#laptop{
    width: 130px;
    margin: auto;
    padding-top: 100px;
}

#titulo-baixar{
    font-weight: 800;
    font-size: 2.5em;
    padding-top: 40px;
    padding-bottom: 30px;
}

#download{
    background-color: white;
    width: 80px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding: 15px;
    border-radius: 40px;
    margin: auto;
    font-size: 0.8em;
    margin-top: 50px;
    margin-bottom: 100px;
    transition: 0.2s ease-in-out;
}

#download:hover{
    scale: 1.07;
}

aside{
    display: flex;
    flex-direction: column;
    text-align: center;
}

aside h2{
    font-size: 1.8em;
    font-weight: 900;
    padding-top: 70px;
    padding-bottom: 30px;
}

aside img{
    padding: 30px 6px 60px 6px;
}

#prefooter{
    background-color: #222326;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
}

#prefooter img{
    width: 450px;
    margin: auto;
    padding-top: 80px;
}

#prefooter h2{
    font-size: 1.9em;
    font-weight: 700;
    padding-top: 40px;
}

#prefooter ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 50px 20px 50px;
}

ul > a{
    color: #21C960;
}

#prefooter li{
    padding: 40px 30px 80px 5px;
    list-style-type: none;
    position:relative;
}

.disc::after{
    content: '•';
    color: #1DB954;
    display: inline-block;
    position: absolute;
    right: 0.5em;
    top: 1.4em;
    font-size: 1.5em;
}

#playstation::after{
    content: '®';
    color: #21C960;
    display: inline-block;
    position: absolute;
    right: 1.8em;
    top: 3.5em;
    font-size: 0.7em;
}

footer{
    background-color: black;
    color: white;
}

footer h3{
    font-size: 0.8em;
    color: #919496;
}

footer p{
    font-size: 0.9em;
}

footer ul{
    list-style-type: none;
}

#footerdiv{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;

}

#logofooter > img{
    height: 40px;
}

#logofooter{
    margin-left: 7vw;
}

.footertext{
    padding-left: 80px;
    line-height: 3em;
}

#textosfooter{
    flex-direction: row;
    display: flex;
    padding-right: 150px;
    justify-content: left;
}

#socialsfoot{
    display: flex;
    flex-direction: row;
    margin-right: 7vw;
}

.socialfoot{
    height: 50px;
    width: 50px;
    background-color: #222326;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: #1BD760;
}

.linklogos{
    font-size: 30px;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.linklogos:hover{
    color: #1BD760;
}

div#last-part{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 7vw;
    padding-right: 7VW;
    padding-top: 50px;
    padding-bottom: 40px;
}

div#last-line ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

div#last-line a{
    padding: 15px;
    font-size: 0.75em;
    color: #919496;
    text-decoration: none;
}

div#last-line a:hover, div#last-part-right a:hover{
    color: #1BD760;
}

div#last-part-right{
    line-height: 3em;
    font-size: 0.8em;
    align-items: flex-start;
    display: flex;
    text-align: right;
}

div#last-part-right a{
    text-decoration: none;
    color: #919496;
}

.bx-world{
    padding-right: 5px;
}